* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 15fr;
}

header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border: 1px solid black;
    background-color: blue;
}

#sidebar {
    border: 1px solid black;
    grid-column: 1 / 2;
    background-color: blueviolet;
}

main {
    border: 1px solid black;
    background-color: beige;
}

ul {
    list-style: none;
}